* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;  
}

/* GENERAL */

h1 {
  text-align: center;
}

#container {
    width: 100%;    
    display: flex;       
    
}

#leftSide {
  width: 50%;
  /* border: 5px dotted black; */
  margin-right: 2%;
  display: flex;
  background-color: #e7e8ec;
  
}

#rigthSide {
 width: 15%;
  height: 15vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.box {
  width: 50px;
  height: 50px;
  margin-right: 2%;
  background-color: #7fdaf8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
    
}

p {
  color: #000;
}

span {
  font-weight: bold;
  font-size: 20px;
}

#options {
  position: relative;
  top: -5%;
}

button {
    margin-left: 15px;    
    width: 100px;
    height: 50px;
}

/* FLEX-DIRECTION */

.row {
  flex-direction: row;
}

.rowRvrs {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.clmnRvrs {
    flex-direction: column-reverse;

}

/* FLEX-WRAP */

.noWrap {
  flex-wrap: nowrap;
}

.wrap {
 flex-wrap: wrap; 
}

.wrapRvrs {
  flex-wrap: wrap-reverse;
}


/* JUSTIFY-CONTENT */

.flxStart {
  justify-content: flex-start;
}

.flxCenter {
  justify-content: center;
}

.flxEnd {
  justify-content: flex-end;
}

.spcBtwn {
  justify-content: space-between;
}

.spcArnd {
  justify-content: space-around;
}

.text {
 margin: 2%; 
}

.highlightText {
  color: #f00;
  font-weight: bold;
}

/* ALIGN-CONTENT */

.stretch {
  align-content: stretch;
}

.acFlxStart {
  align-content: flex-start; 
}

.acCenter {
  align-content: center;
}

.acFlxEnd {
  align-content: flex-end;
}

.acSpcBtwn {
  align-content: space-between;
}

.acSpcArnd {
  align-content: space-around;
}

.acSpcEvn {
  align-content: space-evenly;
}

/* ALIGN-ITEMS */

.aiStretch {
  align-items: stretch;
}

.aiBaseline {
  align-items: baseline; 
}

.aiFlxStart {
  align-items: flex-start;
}

.aiCenter {
  align-items: center;
}

.aiFlxEnd {
  align-items: flex-end;
}

/* ALIGN-SELF */

.asAuto {
  align-self: auto;
}

.asStrecth {
  align-self: stretch;
}

.asBaseline {
  align-self: baseline;
}

.asFlxStart {
  align-self: flex-start;
}

.asCenter {
  align-self: center;
}

.asFlxEnd {
  align-self: flex-end;
}